<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.manuelquinteros.clinicadentalx">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Escribir en memoria -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icono_dentista"
        android:label="@string/app_name"
        android:minSdkVersion="8"
        android:roundIcon="@drawable/icono_dentista"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".FCM.NotificationDetailActivity"
            android:parentActivityName=".FCM.PromotionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FCM.PromotionsActivity" />
        </activity>
        <activity
            android:name=".Contact.ContactActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".FCM.PromotionsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppointmentActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddAppointmentActivity"
            android:parentActivityName=".AppointmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddAppointmentActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Maps.MapsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".DoctorsActivity"
            android:parentActivityName=".AddAppointmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddAppointmentActivity" />
        </activity>
        <activity
            android:name=".ScheduleDoctorsActivity"
            android:parentActivityName=".DoctorsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DoctorsActivity" />
        </activity>
        <activity
            android:name=".RegisterUserActivity"
            android:parentActivityName=".SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".GenerateReportActivity"
            android:parentActivityName=".AppointmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppointmentActivity" />
        </activity>
        <activity
            android:name=".Gallery.PortfolioActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Gallery.DetailPortfolioActivity" />
        <activity
            android:name=".UpdateUserActivity"
            android:parentActivityName=".ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_assignment_turned_in" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".FCM.FcmMessagingService"
            android:enabled="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />
        </service>



    </application>

</manifest>